[flake8]
max-line-length = 120
extend-ignore =
    E203,
    W503,
    F403,
    F405,
    E402,
    E731,
    E712,
    E124,
    E122,
    E127,
    E201,
    F541,
    W391,

per-file-ignores =
    src/carrymem/cli/_base.py:F403,F405
    src/carrymem/i18n/en.py:E501
    src/carrymem/i18n/zh_CN.py:E501
    tests/*:F401,F841
